spring.application.name=CommunicationService

###############################################
### RABBITMQ CONFIGURATION ###
###############################################
spring.rabbitmq.host=${RABBITMQ_HOST:localhost}
spring.rabbitmq.port=${RABBITMQ_PORT:5672}
spring.rabbitmq.username=${RABBITMQ_USER:kalo}
spring.rabbitmq.password=${RABBITMQ_PASSWORD:kalo}

###############################################
### GROQ AI CONFIGURATION ###
###############################################
groq.api.key=GROQ_API_KEY
groq.model=llama-3.3-70b-versatile
groq.temperature=0.7
groq.max-tokens=500

###############################################
### CHAT CONFIGURATION ###
###############################################
chat.rules.enabled=true
chat.ai.enabled=true


###############################################
### LOGGING CONFIGURATIONS ###
###############################################
logging.level.root=warn
logging.level.org.springframework=warn
logging.level.ro.tuc=warn


###############################################
### EMBEDDED TOMCAT CONFIGURATIONS ###
###############################################
server.port=${PORT:8085}